extends layout

block content

  h1 #{title}: #{book.title}
  
  p #[strong Author:] 
    a(href=book.author.url) #{book.author.name}
  p #[strong Summary:] #{book.summary}
  p #[strong ISBN:] #{book.isbn}
  p #[strong Genre:] 
    each val in book.genre
      a(href=val.url) #{val.name}
      |, 

  if book_instances.length
    br
    div

      p(class='notice') Delete the following copies before attempting to delete this Book:
    
      each book_copy in book_instances
        hr(style='margin-bottom: 5px;')
        if book_copy.status=='Available'
          p(class="label-text available") #{book_copy.status}
        else if book_copy.status=='Maintenance'
          p(class="label-text maintenance") #{book_copy.status}
        else
          p(class="label-text loaned") #{book_copy.status} 
        p #[strong Imprint:] #{book_copy.imprint}
        if book_copy.status!='Available'
          p #[strong Due back:] #{book_copy.due_back}
        p #[strong Id:] 
          a(href=book_copy.url) #{book_copy._id}

  else
    div(class='center')
      p Do you really want to delete this Book?
      
      form(method='POST' action='')
        div.form-group
          input#id(type='hidden',name='id', required='true', value=book._id )

        button(type='submit') Delete