extends layout

block content
  h1= title

  each val in bookinstance_list
    li(class='li-marker')
      a(href=val.url) <i>"#{val.book.title}"</i>, #{val.imprint}
      span - 
      if val.status=='Available'
        span(class="label-text available") #{val.status}
      else if val.status=='Maintenance'
        span(class="label-text maintenance") #{val.status}
      else
        span(class="label-text loaned") #{val.status}
      if val.status!='Available'
        span  (due: #{val.due_back_formatted})
        

  else
    li There are no book copies in this library