extends layout

block style 
  include ./stylesheets/index.css

block content
  h1= title
  p Welcome to #[strong The Library Invetory], a very basic Express website developed starting from a MDN example tutorial, updated to Express 4 and styled.
  h2(class='index-h2') Record counts

  if error
    p Error getting dynamic content.
  else
    div
      div(class='index-count-box')
        div(class='index-count')
          p #[strong Books]
          p(class='index-count-data') !{data.book_count}
        div(class='index-count')
          p #[strong Copies]
          p(class='index-count-data') !{data.book_instance_count}
        div(class='index-count')
          p #[strong Available Copies]
          p(class='index-count-data') !{data.book_instance_available_count}
        div(class='index-count')
          p #[strong Authors]
          p(class='index-count-data') !{data.author_count}
        div(class='index-count')
          p #[strong Genres]
          p(class='index-count-data') !{data.genre_count}
